@page
@model Anyone_for_Tennies.Pages.Admins.DashboardModel


<h2>Manage Schedules</h2>

<div class="table-container">
    <h2>Upcoming Schedules</h2>
    <table class="styled-table">
        <thead>
            <tr>
                <th>Event Name</th>
                <th>Date</th>
                <th>Time</th>
                <th>Coach</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Beginner Tennis Training</td>
                <td>2024-10-20</td>
                <td>10:00 AM</td>
                <td>John Doe</td>
                <td><a href="/Admins/AssignCoachToSchedule" class="btn btn-primary">Assign Coach</a></td>
            </tr>
            <tr>
                <td>Beginner Tennis Training</td>
                <td>2024-10-20</td>
                <td>10:00 AM</td>
                <td>John Doe</td>
                <td><a href="/Admins/AssignCoachToSchedule" class="btn btn-primary">Assign Coach</a></td>
            </tr>

            <tr>
                <td>Beginner Tennis Training</td>
                <td>2024-10-20</td>
                <td>10:00 AM</td>
                <td>John Doe</td>
                <td><a href="/Admins/AssignCoachToSchedule" class="btn btn-primary">Assign Coach</a></td>
            </tr>
            <tr>
                <td>Beginner Tennis Training</td>
                <td>2024-10-20</td>
                <td>10:00 AM</td>
                <td>John Doe</td>
                <td><a href="/Admins/AssignCoachToSchedule" class="btn btn-primary">Assign Coach</a></td>
            <tr>
                <td>Beginner Tennis Training</td>
                <td>2024-10-20</td>
                <td>10:00 AM</td>
                <td>John Doe</td>
                <td><a href="/Admins/AssignCoachToSchedule" class="btn btn-primary">Assign Coach</a></td>
            </tr>
            </tr>
        </tbody>
    </table>
</div>

